/*BASE PAGE*/

html {
  height: 100%;
  background: rgb(44,66,93);
  background: linear-gradient(0deg, rgba(44,66,93,1) 0%, rgba(28,28,28,1) 100%) fixed;
}

body {
  background: #1c1c1c;
  height: auto;
  margin: 0;
  font-family: Product Sans;
}

/*top bar*/
div.top {
  position: fixed;
  display: block;
  z-index: 1000;

  background-color: #2e2e2e;
  height: 50px;
  width: 100%;
  box-shadow: 0px 0px 5px black;
}

/*color placeholder*/
::-webkit-input-placeholder {
  color: grey;
  font-family: Product Sans;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

button:hover, input[type=button]:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

/*Website name in top middle*/
div.top > h1 {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);

  background-color: none;
  padding: 0;
  margin: 0;

  color: white;
  font-family: 'Sansita Swashed', cursive;
  font-size: 45px;
  line-height: 40px;
  text-align: center;
}

div.top > h1 > a {
  color: white;
  text-decoration: none;
}

div.navbar {
  position: absolute;
  display: inline-flex;
  right: 0;
  top: 0;

  background-color: none;
  width: auto;
  height: inherit;
}

div.navbar > a {
  position: relative;
  display: inline-block;

  background-color: none;
  height: auto;           /*IMPORTANT*/
  width: auto;            /*IMPORTANT*/
  margin-top: 5px;        /*IMPORTANT*/
  margin-right: 5px;      /*IMPORTANT*/
  border-radius: 10px;    /*IMPORTANT*/

  text-decoration: none;  /*IMPORTANT*/
}

div.navbar > div.button-container > a.signed_out_buttons > input {
  position: relative;
  display: inline-block;
  z-index: 300;

  background-color: #3987e6;
  height: 40px;
  width: 150px;
  margin: 0;
  border: none;
  border-radius: 10px;

  text-decoration: none;
  color: white;
  font-family: Product Sans;
  font-size: 22px;
  font-weight: bold;
}

div.navbar a:hover {
  background-color: #2976d3;
}

div.navbar button:hover {
  background-color: #2976d3;
}

div.navbar a.signed_out_buttons:hover {
  background-color: #2976d3;
}

/*buttons when signed in*/
div.navbar > div.button-container {
  position: relative;
  display: block;
  margin: 5px;

  background-color: none;
  height: auto;
  width: auto;
}

div.navbar > div.button-container > a.signed_in_buttons {
  position: relative;
  display: inline-block;
  right: 0;

  background-color: #3987e6;
  border-radius: 10px;    /*IMPORTANT*/

  color: white;
  text-decoration: none;  /*IMPORTANT*/
  cursor: pointer;
}

div.navbar > div.profile-dropdown {
  position: relative;
  display: inline-block;

  background-color: none;
  height: auto;
  width: auto;
}

div#outer {
  position: absolute;
  display: block;
  right: 0;
  
  background-color: none;
  height: 135px;
  width: 170px;
}

div.profile-dropdown div.profile-dropdown-content {
  position: absolute;
  display: none;
  right: 0px;

  background-color: #2e2e2e;
  width: 160px;
  margin-top: 25px;
  padding: 5px;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  overflow: hidden;
}

div.profile-dropdown:hover div.profile-dropdown-content, div.profile-dropdown:hover div#outer{
  display: block;
  z-index: 100;
}

div.profile-dropdown div.profile-dropdown-content > a {
  display: block;

  background-color: none;
  height: 30px;
  width: 100%;
  margin: 0;
  margin-top: 5px;
  padding: 0;

  border-radius: 10px;

  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}

div.profile-dropdown div.profile-dropdown-content > form {
  background-color: none;
  display: block;

  height: 30px;
  width: auto;
  margin: 0;
  margin-top: 5px;
  padding: 0;

  text-align: center;
}

div.profile-dropdown input {
  position: relative;
  display: inline-block;

  background-color: #2976d3;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  border: none;
  border-radius: 10px;

  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

a.signed_in_buttons > i {
  height: 40px;
  width: 80px;

  text-align: center;
  vertical-align: middle;

  font-size: 20px;
  line-height: 40px;
}

/*main div (has different content for each page)*/
div.main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;

  background-color: none;
  min-height: 500px;
  height: auto;
  width: 100%;
}

/*LOGIN PAGE ====================================================================*/

div.main form {
  position: relative;
  display: inline-table;
  left: 50%;
  transform: translateX(-50%);

  background-color: none;
  height: auto;
  width: auto;
  margin-top: 100px;

  color: white;
}

/*for all inputs*/
input.form-inputs {
  height: 40px;
  width: 400px;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-radius: 10px;

  font-size: large;
}

/*specifically for the login form inputs*/
form.login-form > input {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

form.login-form > p {
  text-align: center;
}

div.main input[type=text], div.main input[type=email], div.main input[type=password] {
  background-color: none;
  text-indent: 10px;
}

div.main input[type=submit] {
  position: relative;
  display: inline-cell;
  left: 50%;
  transform: translateX(-50%);

  background-color: #3987e6;
  cursor: pointer;

  color: white;
  font-family: Product Sans;
  font-weight: bold;
}

div.main input[type=submit]:hover {
  background-color: #2976d3;
}

div.main input.green-button {
  position: relative;
  display: inline-cell;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgb(10, 150, 10);
  width: 200px;
  margin-top: 40px;

  color: white;
  font-family: Product Sans;
  font-weight: bold;
}

div.main input.green-button:hover {
  background-color: rgb(7, 133, 7);
  cursor: pointer;
}

div.main > p {
  background-color: none;
  color: white;

  text-align: center;
}

/*REGISTER PAGE =================================================================*/

div.row {
  position: relative;
  display: block;
}


/*HOME PAGE =====================================================================*/

div.product-grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
  grid-gap: 10px;

  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  background-color: none;
  
  margin-top: 20px;
  margin-bottom: 80px;
  
}

div.product-grid div.product {
  background-color: #2e2e2e;
  height: auto;
  width: auto;
  padding: 10px 10px 0px 10px;
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
  border-radius: 10px;
}

div.product > a > img {
  position: relative;
  vertical-align: middle;
  z-index: 1;

  background-color: white;
  width: 200px;
  padding: 0;
  border-radius: 10px;
}

div.product > a > img:hover {
  filter: brightness(50%);
  cursor: pointer;
}

div.product > a#image {
  text-decoration: none;
  width: max-content;
  height: max-content;
}

div.product > a#name {
  position: relative;
  display: block;

  color: white;
  max-width: 200px;
  width: max-content;
  padding-top: 10px;

  text-decoration: none;
  text-shadow: 2px 2px 10px black;
  font-size: 22px;
}

div.product > a#name:hover {
  text-decoration: underline;
}

/*product name and price text*/
div.product > p {
  background-color: none;
  color: white;
  max-width: 200px;

  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;

  text-decoration: none !important;
  text-shadow: 2px 2px 10px black;
  font-size: 15px;
}

/*add to cart button*/
div.product div.button-container {
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;
}

div.product div.button-container a {

  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
}

div.product input.addtocart-button {
  background-color: #3987e6;
  height: 30px;
  width: 200px;
  margin: 0;
  padding: 0;

  border: none;
  border-radius: 10px;

  color: white;
  font-family: Product Sans;
  font-size: 18px;
}

/*PRODUCT PAGE ==================================================================*/

div.productpage-div {
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);

  background-color: #2e2e2e;
  min-height: 800px;
  height: auto;
  width: 1000px;
  margin: 20px 0 20px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

div.productpage-div div.product {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);;
  grid-gap: 10px;
}

div.productpage-div div.image-container {
  position: relative;
  display: block;

  background-color: grey;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}

div.productpage-div div.image-container img {
  position: relative;
  display: block;

  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

div.productpage-div div.text-container {
  position: relative;
  display: block;

  background-color: white;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

div.productpage-div div.text-container h1 {
  margin: 15px 15px 5px 15px;
}

div.productpage-div div.text-container p {
  margin: 5px 15px 15px 15px;
}

div.productpage-div div.text-container div.button-container a input {
  background-color: rgb(7, 133, 7);
}

div.product > form.add_to_cart {
  margin: 0;
  padding: 0;
  width: 100%;
}

div.productpage-div div.review-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

  background-color: #1c1c1c;
  min-height: 100px;
  height: auto;
  width: auto;
  margin-top: 10px;
  padding: 10px 10px 0 10px;

  border-radius: 10px;
}

div.write-review {
  display: block;
}

div.reviews {
  display: block;
  max-width: 100%;
  overflow: hidden;
  height: auto;
}

div.productpage-div h1.section-headers {
  color: white;
  font-size: 40px;
  text-align: center;
}

div.productpage-div form.review-form {
  margin: 0;
}

div.productpage-div div.rating-container {
  position: relative;
  display: flex;
  transform: rotateY(180deg);
  width: fit-content;
  margin: 20px 20px 20px 0px;
}

.rating-container input {
  display: none;
}

.rating-container label {
  display: block;
  cursor: pointer;
  height: auto;
  width: auto;
  margin-left: 5px;
}

.rating-container input:not(:checked) ~ label:hover,
.rating-container input:not(:checked) ~ label:hover ~ label {
  color: #f8b912;
}

.rating-container input:checked ~ label {
  color: #f8b912;
}

div.productpage-div form.review-form textarea {
  height: 100px;
  width: 395px;
  margin-bottom: 20px;

  border: none;
  border-radius: 10px;
}

div.productpage-div div.review {
  position: relative;
  display: inline-block;

  background-color: white;
  width: 100%;
  min-height: 100px;
  height: auto;
  margin-bottom: 10px;

  border: 2px solid none;
  border-radius: 10px;
  word-wrap: break-word;
}

div.productpage-div div.rating {
  position: relative;
  display: inline-block;

  background-color: none;
  height: 20px;
  width: fit-content;
  margin: 10px;
  border-radius: 10px;

  color: #f8b912;
  font-weight: bold;
} 

div.productpage-div div.review p {
  color: black;
  margin: 10px;
  max-width: 100%;
}

div.productpage-div p.comment-title {
  position: absolute;
  display: inline-block;
  top: 0;
}

div.productpage-div div.review a.remove-review {
  position: absolute;
  display: block;
  top: 0;
  right: 0;

  margin: 3px 8px 0 0;

  color: black;
  font-size: 18px;
  text-decoration: none;
}

/*PROFILE PAGE ==================================================================*/

div.profilepage {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  background-color: #2e2e2e;
  width: 800px;
  height: auto;
  margin: 50px 0 50px 0;
  padding: 10px;

  border-radius: 10px;
}

/*table*/
div.table-section {
  position: relative;
  display: inline-block;
  
  background-color: #1c1c1c;
  height: auto;
  width: inherit;
  
  border-radius: 10px;
}

table.profile-table {
  background-color: none;
  width: 100%;
  padding: 5px;

  color: white;
  border: none;
}

table.profile-table tr {
  background-color: none;
  height: 40px;
}

table.profile-table tr td {
  padding: 10px;
  border: 1px solid #3987e6;
  border-radius: 10px;
}

/*change-profile button*/
div.form-container {
  position: relative;
  display: block;

  background-color: none;
  height: auto;
  width: inherit;
}

form.profile-form {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  background-color: blue;
  height: auto;
  width: auto;
}

form.profile-form > input {
  position: relative;
  display: inline-cell;
  left: 50%;
  transform: translateX(-50%);

  background-color: none;
  height: 40px;
  width: 400px;
  padding: 0;
  border: none;
  border-radius: 10px;

  font-size: large;
}

form.profile-form > input[type=button] {
  background-color: #3987e6;
  cursor: pointer;

  color: white;
  font-weight: bold;
}

form.profile-form > input[type=button]:hover {
  background-color: #2976d3;
}

div.profilepage div.review-section {
  position: relative;
  display: block;

  background-color: #1c1c1c;
  min-height: 200px;
  height: auto;
  width: auto;
  margin-top: 10px;
  padding: 10px 10px 0 10px;

  border-radius: 10px;
}

div.profilepage h1.section-headers {
  color: white;
  font-size: 40px;
  text-align: center;
}

div.profilepage form.review-form {
  margin: 0;
}

div.profilepage form.review-form textarea{
  height: 300px;
  width: 395px;
  margin-bottom: 20px;

  border: none;
  border-radius: 10px;
}

div.profilepage div.review {
  position: relative;
  display: inline-block;

  background-color: white;
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
}

div.profilepage div.rating {
  position: relative;
  display: inline-block;

  background-color: none;
  height: 20px;
  width: fit-content;
  margin: 10px;
  border-radius: 10px;

  color: #f8b912;
} 

div.profilepage div.review p {
  color: black;
  margin: 10px;
}

div.profilepage p.comment-title {
  position: absolute;
  display: inline-block;
  top: 0;
}

div.profilepage div.review a.remove-review {
  position: absolute;
  display: block;
  top: 0;
  right: 0;

  margin: 3px 8px 0 0;

  color: black;
  font-size: 18px;
  text-decoration: none;
}

div.profilepage div.review a.remove-review i {
  margin: 0;
  padding: 0;
}


/*CART PAGE =====================================================================*/

div.cartpage-div {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);

  background-color: #2e2e2e;
  height: auto;
  width: 1000px;
  margin: 20px 0px 20px 0px;
  padding: 10px;

  border-radius: 10px ;
  box-shadow: 0px 0px 5px black;  
}

div.cartpage-div h1.shoppingcart-header {
  color: white;
  text-align: center;
  font-size: 40px;
  margin: 10px 0px 20px 0px;
}

div.cartpage-div div.product{
  position: relative;
  display: grid;
  grid-template-columns: 200px auto;
  grid-gap: 10px;

  background-color: #1c1c1c;
  height: auto;
  width: 100%;
  margin-bottom: 10px;

  border-radius: 10px;
}

div.cartpage-div div.image-container {
  background-color: white;
  min-height: 200px;
  height: auto;
  width: 200px;

  border-radius: 10px;
}

div.cartpage-div div.image-container img {
  max-width: 200px;
  border-radius: 10px;
}

div.cartpage-div div.text-container {
  position: relative;
  display: inline-block;

  background: rgb(215,215,215);
  background: linear-gradient(180deg, rgba(215,215,215,1) 3%, rgba(255,255,255,1) 100%);
  min-height: 200px;
  height: auto;
  
  margin: 0;
  border-radius: 10px;
}

div.cartpage-div div.text-container h1 {
  margin: 15px 15px 5px 15px;
  background-color: none;
}

div.cartpage-div p {
  margin: 5px 15px 15px 15px;
  padding: 0;
  font-weight: bold;
  background-color: none;
}

div.cartpage-div p#product-price {
  color: green;
}

div.cartpage-div div.adjust-comtainer {
  position: absolute;
  right: 10px;
  top: 5px;
  
  background-color: none;
  height: auto;
  line-height: 20px;
}

div.cartpage-div div.adjust-comtainer a {
  font-size: 20px;
  margin: 0;
}

div.cartpage-div div.adjust-comtainer a.adjust-quantity {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
}

div.cartpage-div div.adjust-comtainer a.dec {
  border-radius: 10px 0 0 10px;
}

div.cartpage-div div.adjust-comtainer a.inc {
  border-radius: 0 10px 10px 0;

}

div.cartpage-div div.adjust-comtainer a.remove-product {
  margin-left: 20px;
}

div.cartpage-div div.adjust-comtainer a i {
  margin: 0;
  padding: 0;
}

div.cartpage-div div.adjust-comtainer p.product-amount {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

div.cartpage-div a {
  color: black;
  text-decoration: none;
}

div.cartpage-div a:hover {
  text-decoration-line: underline;
}

div.cartpage-div div.total {
  background-color: white;
  height: 200px;
  width: auto;
  border-radius: 10px;
}

/*CHECKOUT PAGE==================================================================*/

.checkOutPage {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;

  background-color: #1c1c1c;
  height: 600px;
  width: auto;
}

.check-out-form {
  background-color: navy;
}

.check-out-form input {

  background-color: red;
}

/*GENERAL =======================================================================*/

.section-headers {
  color: white;
  font-size: 40px;
  text-align: center;
}

.login-form label {
  position: relative;
  display: inline;
  padding-left: 20px;
}