/*BASE PAGE*/

body {
  background-color: #1c1c1c;
  margin: 0;
  font-family: arial;
}

/*top bar*/
.top {
  position: relative;
  z-index: 1000px;

  background-color: #2e2e2e;
  height: 50px;
  width: 100%;
  box-shadow: 0px 0px 5px black;
}

/*color placeholder*/
::-webkit-input-placeholder {
  color: grey;
}

textarea:focus, input:focus{
    outline: none;
}

/*grey square in top right*/
.top_menu {
  position: absolute;

  background-color: grey;
  margin: 5px 5px;
  height: 40px;
  width: 40px;
}

/*Website name in top middle*/
.top > h1 {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);

  background-color: none;
  padding: 0;
  margin: 0;

  color: white;
  font-family: verdana;
  text-align: center;
}

.top > h1 > a {
  color: white;
  text-decoration: none;
}

.top_profile_div {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;

  background-color: none;
  width: auto;
  height: inherit;

  font-size: 20px;
}

.top_profile_div > a {
  position: relative;
  display: inline-block;

  background-color: #3987e6;
  height: 40px;
  width: 150px;
  margin: 5px;
  border-radius: 5px;

  text-decoration: none;
  color: white;
  text-align: center;
}

.top_profile_div > a:hover {
  background-color: #2976d3;
}

/*main div (has different content for each page)*/
.main {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  background-color: none;
  height: 500px;
  width: 100%;
}

/*LOGIN PAGE ====================================================================*/

form {
  position: relative;
  display: inline-table;
  left: 50%;
  transform: translateX(-50%);

  background-color: none;
  height: auto;
  width: auto;
  margin-top: 100px;

  color: white;
}

/*for all inputs*/
input {
  height: 40px;
  width: 400px;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-radius: 10px;

  font-size: large;
}

/*specifically for the login form inputs*/
form.login_form > input {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

input[type=text], input[type=password] {
  background-color: none;
  text-indent: 10px;
}

input[type=submit] {
  position: relative;
  display: inline-cell;
  left: 50%;
  transform: translateX(-50%);

  background-color: #3987e6;
  cursor: pointer;

  color: white;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #2976d3;
}

input[type=button] {
  position: relative;
  display: inline-cell;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgb(10, 150, 10);
  width: 200px;
  margin-top: 40px;

  color: white;
  font-weight: bold;
}

input[type=button]:hover {
  background-color: rgb(7, 133, 7);
}

form > p {
  color: white;
}

/*REGISTER PAGE =================================================================*/

div.row {
  position: relative;
  display: block;
}


/*HOME PAGE =================================================================*/

div.product_table {
  position: relative;
  display: inline-table;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10px;

  background-color: none;
  height: 600px;
  width: 700px;
  margin-top: 20px;
  
  text-align: center;
}

div.product {
  position: relative;
  display: inline-block;

  background-color: #2e2e2e;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 20px;
}

div.product:hover {
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
  cursor: pointer;
}

/*PRODUCT PAGE =================================================================*/

div.product_info {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  background-color: #2e2e2e;
  height: 800px;
  width: 1000px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

div.product_info > div#image_div {
  position: relative;
  display: inline-block;

  background-color: grey;
  height: 250px;
  width: 250px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.product_info > div#image_div > img {
  position: relative;
  display: inline-block;

  background-color: black;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  margin: 20px;
}

div.product_info > div#text_div {
  position: relative;
  display: inline-block;

  background-color: #1c1c1c;
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0;
}

/*PROFILE PAGE ==================================================================*/

div.profile_main {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  background-color: red;
  width: 800px;
  height: 800px;
  margin-top: 50px;
}

/*table*/
div.table_div {
  position: relative;
  display: inline-block;
  
  background-color: white;
  height: auto;
  width: inherit;
}

table.profile_info {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  background-color: green;
  color: white;
  margin: 0;
  padding: 0;
}

table.profile_info {
  height: auto;
  width: 80%;
}

table.profile_info tr {
  background-color: #1c1c1c;
  width: inherit;
  height: 50px;
}

table.profile_info td {
  width: 100%;
}

/*change-profile button*/
div.form_div {
  position: relative;
  display: inline-block;

  background-color: none;
  height: auto;
  width: inherit;
  padding-top: 50px;
}

form.profile_form {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  background-color: blue;
  height: auto;
  width: auto;
}

.profile_form > input {
  position: relative;
  display: inline-cell;
  left: 50%;
  transform: translateX(-50%);

  background-color: none;
  height: 40px;
  width: 400px;
  padding: 0;
  border: none;
  border-radius: 10px;

  font-size: large;
}

form.profile_form > input[type=button] {
  background-color: #3987e6;
  cursor: pointer;

  color: white;
  font-weight: bold;
}

form.profile_form > input[type=button]:hover {
  background-color: #2976d3;
}