/*BASE PAGE*/

body {
  background-color: #1c1c1c;
  margin: 0;
  font-family: Product Sans;
}

/*top bar*/
div.top {
  position: relative;
  display: block;
  z-index: 1000px;

  background-color: #2e2e2e;
  height: 50px;
  width: 100%;
  box-shadow: 0px 0px 5px black;
}

/*color placeholder*/
::-webkit-input-placeholder {
  color: grey;
  font-family: Product Sans;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

button:hover, input[type=button]:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

/*grey square in top right*/
div.top_menu {
  position: absolute;

  background-color: grey;
  margin: 5px 5px;
  height: 40px;
  width: 40px;
}

/*Website name in top middle*/
div.top > h1 {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);

  background-color: none;
  padding: 0;
  margin: 0;

  color: white;
  font-family: Product Sans;
  text-align: center;
}

div.top > h1 > a {
  vertical-align: middle;

  color: white;
  text-decoration: none;
}

/*Shopping cart div*/
div.cart {
  position: absolute;
  display: inline-block;
  right: 320px;
  top: 0;
  
  background-color: #2e2e2e;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 20px;
}

div.cart:hover {
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
  cursor: pointer;
}

.fa-shopping-cart {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  background-color: none;
  height: auto;
  width: auto;

  color: white;
  font-size: 20px;
}


div.top_loggedin {
  position: relative;

  background-color: none;
  height: 100px;
  width: 100px;
}

div.top_loggedout {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;

  background-color: none;
  width: auto;
  height: inherit;
}

div.top_loggedout > a {
  position: relative;
  display: inline-block;

  background-color: red;
  height: auto;           /*IMPORTANT*/
  width: auto;            /*IMPORTANT*/
  margin-top: 5px;        /*IMPORTANT*/
  margin-right: 5px;      /*IMPORTANT*/
  border-radius: 10px;    /*IMPORTANT*/

  text-decoration: none;  /*IMPORTANT*/
}

div.top_loggedout > a > input {
  position: relative;
  display: inline-block;

  background-color: #3987e6;
  height: 40px;
  width: 150px;
  margin: 0;
  border: none;
  border-radius: 10px;

  text-decoration: none;
  color: white;
  font-family: Product Sans;
  font-size: 22px;
  font-weight: bold;
}

div.top_loggedout > a:hover {
  background-color: #2976d3;
}

div.top_loggedout button:hover {
  background-color: #2976d3;
}

/*main div (has different content for each page)*/
div.main {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  background-color: none;
  height: 500px;
  width: 100%;
}

/*LOGIN PAGE ====================================================================*/

div.main form {
  position: relative;
  display: inline-table;
  left: 50%;
  transform: translateX(-50%);

  background-color: none;
  height: auto;
  width: auto;
  margin-top: 100px;

  color: white;
}

/*for all inputs*/
div.main input {
  height: 40px;
  width: 400px;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-radius: 10px;

  font-size: large;
}

/*specifically for the login form inputs*/
form.login_form > input {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

form.login_form > p {
  text-align: center;
}

div.main input[type=text], div.main input[type=email], div.main input[type=password] {
  background-color: none;
  text-indent: 10px;
}

div.main input[type=submit] {
  position: relative;
  display: inline-cell;
  left: 50%;
  transform: translateX(-50%);

  background-color: #3987e6;
  cursor: pointer;

  color: white;
  font-family: Product Sans;
  font-weight: bold;
}

div.main input[type=submit]:hover {
  background-color: #2976d3;
}

div.main input[type=button] {
  position: relative;
  display: inline-cell;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgb(10, 150, 10);
  width: 200px;
  margin-top: 40px;

  color: white;
  font-family: Product Sans;
  font-weight: bold;
}

div.main input[type=button]:hover {
  background-color: rgb(7, 133, 7);
  cursor: pointer;
}

.green_button {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgb(10, 150, 10);
  height: 40px;
  width: 200px;
  margin-top: 40px;
  border: none;
  border-radius: 10px;

  color: white;
  font-size: 20px;
  font-weight: bold;
}

div.main > p {
  background-color: none;
  color: white;

  text-align: center;
}

/*REGISTER PAGE =================================================================*/

div.row {
  position: relative;
  display: block;
}


/*HOME PAGE =================================================================*/

div.product_table {
  position: absolute;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 10px;

  left: 50%;
  transform: translateX(-50%);
  z-index: -10px;

  background-color: none;
  
  margin-top: 20px;
  
  text-align: center;
}

div.product_table > a {
  height: 100%;
  width: 100%;
}

div.product {
  background-color: #2e2e2e;
  height: auto;
  width: auto;
  padding: 15px 15px 0px 15px;
  border-radius: 10px;

  text-align: center;
}

div.product:hover {
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
  cursor: pointer;
}

div.product > p {
  background-color: none;
  color: white;

  margin: 0;
  padding: 5px 5px 5px 5px;

  text-decoration: none !important;
  text-shadow: 2px 2px 10px black;
  font-size: 22px;
}

div.product > p#price {
  padding-top: 0px;
  font-size: 15px;
}

div.product > img {
  vertical-align: top;

  background-color: white;
  width: 200px;
  padding: 0;
  border-radius: 10px;
}

/*PRODUCT PAGE =================================================================*/

div.product_info {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  background-color: #2e2e2e;
  height: 800px;
  width: 1000px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

div.product_info > div#image_div {
  position: relative;
  display: inline-block;

  background-color: grey;
  height: 250px;
  width: 250px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.product_info > div#image_div > img {
  position: relative;
  display: inline-block;

  background-color: black;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  margin: 20px;
}

div.product_info > div#text_div {
  position: relative;
  display: inline-block;

  background-color: #1c1c1c;
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0;
}



/*PROFILE PAGE ==================================================================*/

div.profile_main {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  background-color: red;
  width: 800px;
  height: 800px;
  margin-top: 50px;
}

/*table*/
div.table_div {
  position: relative;
  display: inline-block;
  
  background-color: white;
  height: auto;
  width: inherit;
}

table.profile_info {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  background-color: green;
  color: white;
  margin: 0;
  padding: 0;
}

table.profile_info {
  height: auto;
  width: 80%;
}

table.profile_info tr {
  background-color: #1c1c1c;
  width: inherit;
  height: 50px;
}

table.profile_info td {
  width: 100%;
}

/*change-profile button*/
div.form_div {
  position: relative;
  display: inline-block;

  background-color: none;
  height: auto;
  width: inherit;
  padding-top: 50px;
}

form.profile_form {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  background-color: blue;
  height: auto;
  width: auto;
}

form.profile_form > input {
  position: relative;
  display: inline-cell;
  left: 50%;
  transform: translateX(-50%);

  background-color: none;
  height: 40px;
  width: 400px;
  padding: 0;
  border: none;
  border-radius: 10px;

  font-size: large;
}

form.profile_form > input[type=button] {
  background-color: #3987e6;
  cursor: pointer;

  color: white;
  font-weight: bold;
}

form.profile_form > input[type=button]:hover {
  background-color: #2976d3;
}