<!DOCTYPE html>
<html>

<head>
  <title>Desire.com</title>
  {% block style %}{% endblock %}

  <script src="script.js"></script>
  <script src="https://kit.fontawesome.com/5a692c1b08.js" crossorigin="anonymous"></script>
  <!--https://fontawesome.com/icons?d=gallery-->

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
</head>

<body>

{% block body %}{% endblock %}

  <div class="top">
    {% block top %}{% endblock %}

    <h1><a class="homelink" href="/">Desire.com</a></h1>
    
    <div class="navbar noselect">
      {% if session['loggedin'] %}

        <div class="button-container">
            <a class="signed_in_buttons cart_button" href="/cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>

        <div class="button-container profile-dropdown">
            <a class="signed_in_buttons profile_button" href="/profile">
                <i class="fas fa-user-circle"></i>
            </a>

            <div id="outer">
                <div class="profile-dropdown-content">
                    {% if session['loggedin'] %}
                      <a href="/admin">
                          <input type="button" value="Admin">
                      </a>
                    {% endif %}
                    <a href="/profile">
                        <input type="button" value="View Profile">
                    </a>
                    <a href="/logout">
                        <input type="button" value="Sign out">
                    </a>
                </div>
            </div>
        </div>

      {% else %}

        <div class="button-container">
          <a class="signed_out_buttons blue_button" href="/login">
            <input type="button" value="Sign In">
          </a>
        </div>

        <div class="button-container">
          <a class="signed_out_buttons blue_button" href="/register">
            <input type="button" value="Sign Up">
          </a> 
        </div>

      {% endif %}
    </div>

  </div>

  <div class="main">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li style="color: white;">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block main %}{% endblock %}
  </div>

</body>

</html>
