<!DOCTYPE html>
<html>

<head>
  <title>E-commerce site</title>
  {% block style %}{% endblock %}
  <script src="https://kit.fontawesome.com/5a692c1b08.js" crossorigin="anonymous"></script>
  <!--https://fontawesome.com/icons?d=gallery-->
</head>

<body>

<title>My Application</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

  <div class="top">

    <h1><a class="homelink" href="/">E-Commerce Site</a></h1>
    
    <div class="navbar noselect">
      {% if session['loggedin'] %}

        <div class="button-container">
            <a class="signed_in_buttons cart_button" href="/cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>

        <div class="button-container profile-dropdown">
            <a class="signed_in_buttons profile_button" href="/profile">
                <i class="fas fa-user-circle"></i>
            </a>

            <div id="outer">
                <div class="profile-dropdown-content">
                    <a href="/profile">
                        <input type="button" value="View Profile">
                    </a>
                    <a href="/cart">
                        <input type="button" value="View Cart">
                    </a>
                    <a href="/logout">
                        <input type="button" value="logout">
                    </a>
                </div>
            </div>
        </div>

      {% else %}

        <div class="button-container">
          <a class="signed_out_buttons blue_button" href="/login">
            <input type="button" value="Sign In">
          </a>
        </div>

        <div class="button-container">
          <a class="signed_out_buttons blue_button" href="/register">
            <input type="button" value="Sign Up">
          </a> 
        </div>

      {% endif %}
    </div>

  </div>

  <div class="main">
    {% block main %}{% endblock %}
  </div>

</body>

</html>
