<!DOCTYPE html>
<html>

<head>
  <title>Page Title</title>
  {% block style %}{% endblock %}
  <script src="https://kit.fontawesome.com/5a692c1b08.js" crossorigin="anonymous"></script>
</head>

<body>

<title>My Application</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

  <div class="top">
    <div class="top_menu">

    </div>

    <h1><a class="homelink" href="/">E-Commerce Site</a></h1>
    <!--
    <div class="top_profile">
      <i class="fas fa-user-circle"></i>
    </div>
    -->
    <div class="top_profile_div">
      <a href="/login">
        <div class="top_login">
          <i class="fas fa-user-circle"></i>
          Sign In
        </div>
      </a>

      <a href="/register">
        <div class="top_register">
          <i class="fas fa-user-circle"></i>
          Sign Up
        </div>
      </a>
    </div>

  </div>

  <div class="main">
    {% block main %}{% endblock %}
  </div>

</body>

</html>
