{% extends "BasePage.html" %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>

{% endblock %}

{% block main %}

<div class="cartpage">
    {% if products|length < 1 %}

        <h1 class="section-headers shoppingcart-header">A whole lot of nothing here</h1>

    {% else %}
        <h1 class="section-headers shoppingcart-header">Your Shoppingcart</h1>

        {% set total = [] %}

        <div class="shopping-cart">

            <div class="item-header">
                <div class="image"></div>
                <div class="description">Product</div>
                <div class="price">Price</div>
                <div class="quantity">Quantity</div>
                <div class="total-price">Total price</div>
                <div class="delete-btn"></div>
            </div>

            {% for row in products %}
                {% if total.append((row.Price * row.Amount)) %}{% endif %}
                <!-- Products -->
                <div class="item">
                    <div class="image">
                        <img src="{{row.ProductPicture}}" alt="" />
                    </div>
                
                    <div class="description">
                        <span>{{row.ProductName}}</span>
                    </div>

                    <div class="price">
                        <span>{{row.Price}} kr</span>
                    </div>

                
                    <div class="quantity">
                        <button class="plus-btn" type="button" name="button">
                            <a class="adjust-quantity dec" href="/removeOneFromCart.{{row.ProductID}}"><i class="fas fa-minus"></i></a>
                        </button>
                        <input type="text" name="name" value="{{row.Amount}}" maxlength="3">
                        <button class="minus-btn" type="button" name="button">
                            <a class="adjust-quantity inc" href="/addToCart.{{row.ProductID}}"><i class="fas fa-plus"></i></a> 
                        </button>
                    </div>
                
                    <div class="total-price">{{row.Price * row.Amount}} kr</div>

                    <div class="delete-btn">
                        <a class="remove-product" href="/removeFromCart.{{row.ProductID}}"><i class="fas fa-times"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="total">
            <p>Total: {{("{0}").format(total | sum)}} kr</p>
            <a href="/checkOut">
                <input class="form-inputs main-redirect-input green-button" type="button" value="Proceed to checkout">
            </a>
        </div>

    {% endif %}

</div>

<script>

{% endblock %}