{% extends "BasePage.html" %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>

{% endblock %}

{% block main %}

<div class="cartpage-div">
    {% if products|length < 1 %}

        <h1 class="shoppingcart-header">A whole lot of nothing here</h1>

    {% else %}

        <h1 class="shoppingcart-header">Your Shoppingcart</h1>

        {% set total = [] %}

        {% for row in products %}

            {% if total.append((row.Price * row.Amount)) %}{% endif %}

            <div class="product">
                <div class="image-container">
                    <img src="{{row.ProductPicture}}">
                </div>
                <div class="text-container">
                    <h1 id="product-name">
                        <a href="/product.{{row.ProductID}}">{{row.ProductName}}</a>
                    </h1>
                    <p id="product-price">{{row.Price}} kr</p>
                    <div class="adjust-comtainer">

                        <a class="adjust-quantity dec" href="/removeOneFromCart.{{row.ProductID}}"><i class="fas fa-minus"></i></a>
                        <p class="product-amount">{{row.Amount}}</p>
                        <a class="adjust-quantity inc" href="/addToCart.{{row.ProductID}}"><i class="fas fa-plus"></i></a> 

                        <a class="remove-product" href="/removeFromCart.{{row.ProductID}}"><i class="fas fa-times"></i></a>
                    </div>

                    <hr>
                    <p id="product-description">{{row.Description}}</p>
                </div>
            </div>
        {% endfor %}

        <div class="total">
            <p>Total: {{("{0}").format(total | sum)}} kr</p>
            <a href="">
                <input class="form-inputs main-redirect-input green-button" type="button" value="Check Out">
            </a>
        </div>

    {% endif %}

</div>

<script>

{% endblock %}