{% extends "BasePage.html" %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>

{% endblock %}

{% block main %}

<div class="checkOutPage">

    <h1 class="section-headers">Shipping Information</h1>
    <form class="check-out-form" method="post">

        <input class="form-inputs fill-input" type="text" name="country" placeholder="Country" required>
        <input class="form-inputs fill-input" type="text" name="city" placeholder="City" required>
        <input class="form-inputs fill-input" type="text" name="zip" placeholder="ZIP code" required>
        <input class="form-inputs fill-input" type="text" name="address" placeholder="Address" required>

        <input class="form-inputs submit-input" type="submit" name="submit" value="Sign Up">
                
    </form>
</div>

{% endblock %}
