{% extends "BasePage.html" %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>

{% endblock %}

{% block main %}

<div class="checkOutPage">

    <h1 class="section-headers">Shipping Information</h1>
    <form class="check-out-form" method="post">

        <i class="fas fa-globe-europe"></i>
        <input class="form-inputs fill-input" type="text" name="country" placeholder="Country" required><br>
        <i class="fas fa-city"></i>
        <input class="form-inputs fill-input" type="text" name="city" placeholder="City" required><br>
        <i class="fas fa-city"></i>
        <input class="form-inputs fill-input" type="text" name="zip" placeholder="ZIP code" required><br>
        <i class="fas fa-map-marked-alt"></i>
        <input class="form-inputs fill-input" type="text" name="address" placeholder="Address" required><br>

        <input class="form-inputs submit-input" type="submit" name="submit" value="Sign Up"><br>
                
    </form>
</div>

{% endblock %}
