<!DOCTYPE html>
<html>

<head>
  <title>Page Title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <script src="https://kit.fontawesome.com/5a692c1b08.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="top">
    <div class="top_menu">

    </div>

    <h1>E-Commerce Site</h1>


    <div class="top_login">
      <a href="LoginPage.html">
        <i class="fas fa-user-circle"></i>
        Login
      </a>
    </div>

    <div class="top_register">
      <a href="#">
        <i class="fas fa-user-circle"></i>
        Register
      </a>
    </div>

  </div>

  <div class="main">

  </div>

</body>

</html>
