{% extends "BasePage.html" %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>

{% endblock %}

{% block main %}

<form class="login_form" method="post" action="">
  <h1>Sign In</h1>
  <p>Please fill in this form to sign up.</p>

  <input type="text" name="name" placeholder="Username"><br>
  <input type="password" name="pass" placeholder="Password"><br>
  <input type="submit" id="login_button" name="login" value="Sign In"><br>

  <p>Don't have an account yet?</p>
  <input type="button" class="button" id="register_button" name="login" value="Sign Up"><br>
</form>

{% endblock %}