{% extends "BasePage.html" %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>

{% endblock %}

{% block main %}

<div class="productpage">
    <h1 class="section-headers">Product</h1>
    <div class="product">
        <div class="image-container">
            <img src="{{ url_for('static', filename = "images/" + product.ProductPicture) }}">
        </div>
        <div class="text-container">
            <h1>{{product.ProductName}}</h1>
            <div class="rating">
                {% if result == 0 %}
                    No reviews yet
                {% else %}
                    {% for n in range(0, 5) %}
                        {% if n >= result %}
                            <i class="far fa-star"></i>
                        {% else %}
                            <i class="fas fa-star"></i>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <p class="price">{{product.Price}} kr</p>
            <p class="stock" {% if product.InStock < 1 %} style="background: rgb(255, 0, 0, 0.6)"{% endif %}>
                {% if product.InStock < 1 %}
                    Out of stock
                {% else %}
                    {{product.InStock}} in stock
                {% endif %}
            </p>
            <hr>
            <p>{{product.Description}}</p>
            <hr>
            {% if session['loggedin'] and product.InStock > 0 %}
                <div class="button-container">
                    <form autocomplete="off" method="post" action="/addToCart.{{product.ProductID}}">
                        <input type="number" name="productAmount" min="1" max="10" value="1">
                        <input class="addtocart-button" type="submit" value="Add to cart">
                    </form>        
                </div>
            {% endif %}
        </div>
    </div>

    <h1 class="section-headers">Product Reviews</h1>
    <div class="review-section">

        <div class="reviews">
            {% for row in reviews %}
                <div class="review">
                    <a href="/product.{{row.ProductID}}">{{row.ProductName}}
                    <div class="rating">
                        {% for n in range(0, row.Rating) %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                        {% for n in range(row.Rating, 5) %}
                            <i class="far fa-star"></i>
                        {% endfor %}
                    </div>

                    <p class="comment-title">{{row.Title}}</p>
                    <p class="date">{{row.FirstName}} {{row.LastName}} {{row.Date}}</p>
                    <p class="comment">{{row.Comment}}</p>
                    {% if row.CustomerID == session['id'] %}
                        <a class="remove-review" href="/deleteReview.{{row.ProductID}}"><i class="fas fa-times"></i></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="write-review">
            {% if session['loggedin'] %}
                <form class="review-form" method="post" autocomplete="off" action="/rateProduct.{{product.ProductID}}">
                    
                    <div class="rating-container">
                        <input id="star1" name="star" type="radio" value="5" class="radio-btn hide" required/>
                        <label for="star1" class="fas fa-star"></label>
                        <input id="star2" name="star" type="radio" value="4" class="radio-btn hide" required/>
                        <label for="star2" class="fas fa-star"></label>
                        <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" required/>
                        <label for="star3" class="fas fa-star"></label>
                        <input id="star4" name="star" type="radio" value="2" class="radio-btn hide" required/>
                        <label for="star4" class="fas fa-star"></label>
                        <input id="star5" name="star" type="radio" value="1" class="radio-btn hide" required/>
                        <label for="star5" class="fas fa-star"></label>
                    </div>
                    
                    <input class="form-inputs fill-input title" type="text" name="title" placeholder="Title" maxlength="50" required><br>
                    <textarea class="form-inputs fill-input comment" name="comment" maxlength="200" placeholder="Comment"></textarea><br>
                    <input class="form-inputs submit-input" type="submit" name="submit" value="Submit Review"><br>
                </form>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}