{% extends "BasePage.html" %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>

{% endblock %}

{% block main %}

<div class="productpage-div">
    <h1 class="section-headers">Product</h1>
    <div class="product">
        <div class="image-container">
            <img src={{data.ProductPicture}}>
        </div>
        <div class="text-container">
            <h1>{{data.ProductName}}</h1>
            <p>{{data.Price}}</p>
            <hr>
            <p>{{data.Description}}</p>
            <hr>

            <div class="button-container">
                <form method="post" action="/addToCart.{{data.ProductID}}">
                    <input type="number" name="productAmount" min="1" max="10" value="1">
                    <input class="addtocart-button" type="submit" value="Add to cart">
                </form>        
            </div>
        </div>
    </div>

    <div class="review-section">
        <h1 class="section-headers">Product reviews</h1>
        {% set showReviews = True %}

        <a href="">
            <input class="form-inputs main-redirect-input green-button" type="button" value="Write a Review">
        </a>


        {% for row in reviews %}
            <div class="review">
                <div class="rating">
                    {% for n in range(0, row.Rating) %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                    {% for n in range(row.Rating, 5) %}
                        <i class="far fa-star"></i>
                    {% endfor %}
                    <p class="comment-title">Comment title</p>
                </div>
                <p class="customer">By user 2020-01-12</p>
                <p class="comment">{{row.Comment}}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}