{% extends "BasePage.html" %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>

{% endblock %}

{% block main %}

<div class="productpage-div">
    <div class="product">
        <div class="image-container">
            <img src={{data.ProductPicture}}>
        </div>
        <div class="text-container">
            <h1>{{data.ProductName}}</h1>
            <p>{{data.Price}}</p>
            <hr>
            <p>{{data.Description}}</p>
            <hr>

            <div class="button-container">
                <form method="post">
                    <input type="number" name="productAmount" min="1" max="10" value="1">
                

                <a href="/addToCart.{{data.ProductID}}">
                    <input class="addtocart-button" type="button" value="Add to cart">
                </a>    
                </form>        
            </div>
        </div>
    </div>
</div>

{% endblock %}