{% extends "BasePage.html" %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>

{% endblock %}

{% block main %}

<div class="profilepage">
    <div class="table-section">
        <h1 class="section-headers">Profile Information</h1>
        <table class="profile-table">
            <tr>
                <td>Firstname:</td>
                <td class="column2 row1">{{data['FirstName']}}</td>
            </tr>
            <tr>
                <td>Lastname:</td>
                <td class="column2 row2">{{data['LastName']}}</td>
                
            </tr>
            <tr>
                <td>Email:</td>
                <td class="column2 row3">{{data['Email']}}</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td class="column2 row3">{{data['Password']|length * "*"}}</td>
            </tr>
        </table>
    </div>

    <div class="form-container">
        <form class="profile-form" method="post" action="">
            <input type="button" class="button" name="profile" value="Change profile"><br>
        </form>
    </div>

    <div class="review-section">
        <h1 class="section-headers">My Product Reviews</h1>

        {% for row in reviews %}
            <div class="review">
                <div class="rating">
                    {% for n in range(0, row.Rating) %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                    {% for n in range(row.Rating, 5) %}
                        <i class="far fa-star"></i>
                    {% endfor %}
                    <p class="comment-title">{{row.Title}}</p>
                </div>
                <p class="date">{{row.Date}}</p>
                <p class="comment">{{row.Comment}}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}