{% extends "BasePage.html" %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>

{% endblock %}

{% block main %}

<div class="profilepage">

    <h1 class="section-headers">Profile</h1>
    
    <div class="tab-section">

        <div class="nav-bar">
            <button class="profile">Profile details</button>
        </div>

        <div class="table-section">
            <table class="profile-table">
                <tr>
                    <td>Firstname:</td>
                    <td class="column2 row1">{{data['FirstName']}}</td>
                </tr>
                <tr>
                    <td>Lastname:</td>
                    <td class="column2 row2">{{data['LastName']}}</td>
                    
                </tr>
                <tr>
                    <td>Email:</td>
                    <td class="column2 row3">{{data['Email']}}</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td class="column2 row3">{{data['Password']|length * "*"}}</td>
                </tr>
            </table>

            <div class="form-container">
                <a href="/updateProfile">
                    <input class="form-inputs main-redirect-input green-button" type="button" value="Update profile">
                </a>
            </div>
        </div>

        {% if reviews != () %}
            <div class="nav-bar">
                <button class="profile">Reviews</button>
            </div>
        
            <div class="review-section">
                {% for row in reviews %}
                    <div class="review">
                        <a class="name" href="/product.{{row.ProductID}}">{{row.ProductName}}</a>
                        <div class="rating">
                            {% for n in range(0, row.Rating) %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                            {% for n in range(row.Rating, 5) %}
                                <i class="far fa-star"></i>
                            {% endfor %}     
                        </div>

                        <p class="comment-title">{{row.Title}}</p> 
                        <p class="date">{{row.Date}}</p>
                        <p class="comment">{{row.Comment}}</p>
                        <a class="remove-review" href="/deleteReview.{{row.ProductID}}"><i class="fas fa-times"></i></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if purchase != () %}
            <div class="nav-bar">
                <button class="profile">Purchase history</button>
            </div>

            <div class="purchaseHistory-section">

                <div class="item-header">
                    <div class="image">Picture</div>
                    <div class="description">Product</div>
                    <div class="price">Price</div>
                    <div class="quantity">Amount</div>
                    <div class="date">Date</div>
                </div>
                {% for row in purchase %}
                    <div class="item">
                        <div class="image">
                            <img src="{{ url_for('static', filename = "images/" + row.ProductPicture) }}" alt="" />
                        </div>
                    
                        <div class="description">
                            <span>{{row.ProductName}}</span>
                        </div>

                        <div class="price">
                            <span>{{row.Price}} kr</span>
                        </div>

                        <div class="quantity">
                            <span>{{row.Amount}} st</span>
                        </div>

                        <div class="date">
                            <span>{{row.Date}} </span>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}